body {
  height: 100vh;
  background-color: #4392f1;
  fackground-image: linear-gradient(#63a3f2, #4392f1);
}

.App {
  margin-top: 70px;
  text-align: center;
}

.logo {
  width: 100%;
}

.car {
  width: 70%;
}
