.App {
  margin-top: 70px;
  text-align: center;
}

html,
body{
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.map-image{
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
}

.logo {
  width: 100%;
}

.car {
  width: 70%;
}
