.App {
  text-align: center;
  height: 100vh;
}

html,
body{
  height: 100%;
  margin: 0;
  background: url('https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x700&maptype=roadmap&markers=color:blue%7C%7C42.057858,-87.675837&key=AIzaSyA-H9SnK9o05ZokTu1wrw3pvB-vtwHDHH4');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* overflow: hidden; */
}

.loader {
	margin-top: 7.5vh;
}