.result {
  margin: 2vh !important;
}

.rideService,
.priceData,
.average,
.rideName {
  display: inline-block;
  color: white;
}

.rideName {
  margin-right: 8px;
}
.rideService {
  width: 100px;
  font-size: 30px;
  padding: 5px;
  margin-left: 5px;
}

.priceData {
  font-size: 30px;
}

.average {
  margin-left: 10px;
}
