button {
  margin-top: 10px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #b7d2ff;
  color: #303030;
  height: 15px !important;
  border: 1px solid black grey;
  box-shadow: 0 0 2px !important;
}
